body
  background #F5F5F5
  text-align center
  margin 0 auto
  font-family 'Adobe Clean', sans-serif
  font-weight 200

a
  text-decoration none

ul
  -webkit-padding-start 0px

header
  width 100vw
  background white
  position fixed
  .main-nav
    height 50px
    width 100vw
    background black
    color white
  .user
    margin 15px
    float right
  .author
    float left
    text-align left
    margin 15px
    font-size 10px
  .sub-nav
    height 50px
    background white
    a
      margin 15px
      float right
      color black
  .logo
    float left

header .main-nav img, header .sub-nav img
  height 24px

.container
  padding-top 58px
  .cover
    background-color white
    padding-bottom 50px
    margin-bottom 50px
    img
      max-height 110px
    h1
      font-weight 200
      padding-top 50px
    .description
      max-width 400px
      font-weight 200
      margin 0 auto
      margin-top 20px
      margin-bottom 20px
    .subscribe-btn
      color white
      background #1473E6
      padding 7px 15px
      border-radius 17px
      margin 20px
  .sidenav
    float left
    text-align right
    margin 0
    position absolute
    z-index 1000
    color gray
    li
      list-style-type none
    .active
      color black
      border-left: medium solid #000000;

.content
  width 700px
  margin 0 auto
  ul
    display flex
    flex-wrap wrap
    li
      margin-right 20px
      margin-bottom 20px
      padding 0
      list-style none
      // flex-grow 1
      height 100px
  .overflow
    text-align left
    margin-top -20px
    .view-more a
      color blue
      font-size 14px
      font-weight bold
  .overflow-content
    display: none;
  h4
    text-align left
    font-weight 400
    color gray
    margin-top 20px
  .colors
    ul
      li
        background purple
        width 85px
        height 85px
  .themes
    ul
      li
        width 190px
        height 85px
        background-image url('../images/color-theme.png')
  .character-styles
    ul
      li
        width 190px
        height 190px
        background-image url('../images/char-style.png')
  .layer-styles
    ul
      li
        width 190px
        height 190px
        background-image url('../images/layer-style.png')
  .brushes
    ul
      li
        height 60px
        width 190px
        background-image url('../images/brush.jpg')
  .patterns
    ul
      li
        width 190px
        height 60px
        background-color navajowhite
  .content-masonry
    .grid-item
      width 190px
      margin-bottom 20px
  .video
    ul
      li
        width 190px
        height 95px
        background-color blue
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .threed
    ul
      li
        width 190px
        height 126px
        background-color black
  .looks
    ul
      li
        width 190px
        height 127px
        background-color black

.howitworks
  background-color #424242
  width 100vw
  padding 40px 0px
