body
  background #F5F5F5
  text-align center
  margin 0 auto
  font-family 'Adobe Clean', sans-serif
  font-weight 200

a
  text-decoration none

ul
  -webkit-padding-start 0px

header
  width 100vw
  background white
  position fixed
  .main-nav
    height 50px
    width 100vw
    background black
    color white
  .user
    margin 15px
    float right
  .author
    float left
    text-align left
    margin 15px
    font-size 10px
  .sub-nav
    height 50px
    background white
    a
      margin 15px
      float right
      color black
  .logo
    float left

header .main-nav img, header .sub-nav img
  height 24px

.container
  padding-top 58px
  .cover
    background-color white
    padding-bottom 50px
    margin-bottom 50px
    img
      max-height 110px
    h1
      font-weight 200
      padding-top 50px
    .description
      max-width 400px
      font-weight 200
      margin 0 auto
      margin-top 20px
      margin-bottom 20px
    .subscribe-btn
      color white
      background #1473E6
      padding 7px 15px
      border-radius 17px
      margin 20px
  .sidenav
    float left
    text-align right
    margin 0
    position absolute
    z-index 1000
    li
      a
        color purple

.content
  width 700px
  margin 0 auto
  ul
    display flex
    flex-wrap wrap
    li
      margin-right 20px
      margin-bottom 20px
      padding 0
      list-style none
      // flex-grow 1
      height 100px
  h4
    text-align left
    font-weight 400
    color gray
    margin-top 0
  .colors
    ul
      li
        background purple
        width 100px
    li
      &:nth-child(6n
        & + 6)
          margin-right 0px
  .themes
    ul
      li
        width 220px
        background-color tomato
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .character-styles
    ul
      li
        width 200px
        height 32px
        background-color papayawhip
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .layer-styles
    ul
      li
        width 168px
        height 168px
        background-color turquoise
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .brushes
    ul
      li
        height 53px
        width 168px
        background-color mediumspringgreen
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .patterns
    ul
      li
        width 168px
        height 168px
        background-color navajowhite
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .video
    ul
      li
        width 168px
        height 95px
        background-color blue
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .threed
    ul
      li
        width 168px
        height 126px
        background-color black
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .looks
    ul
      li
        width 168px
        height 127px
        background-color black
    li
      &:nth-child(3n
        & + 3)
          margin-right 0px
  .content-masonry
    width 700px
    #masonry-box
      display -webkit-box
      display -webkit-flex
      display -ms-flexbox
      display flex
      -webkit-box-orient vertical
      -webkit-box-direction normal
      -webkit-flex-direction column
      -ms-flex-direction column
      flex-direction column
      -webkit-flex-wrap wrap
      -ms-flex-wrap wrap
      flex-wrap wrap
      height 100vw
    img
      width 25%

.howitworks
  background-color #424242
  width 100vw
  padding 40px 0px
