body {
  background: #f5f5f5;
  text-align: center;
  margin: 0 auto;
  font-family: 'Adobe Clean', sans-serif;
  font-weight: 200;
}
a {
  text-decoration: none;
}
ul {
  -webkit-padding-start: 0px;
}
header {
  width: 100vw;
  background: #fff;
  position: fixed;
}
header .main-nav {
  height: 50px;
  width: 100vw;
  background: #000;
  color: #fff;
}
header .user {
  margin: 15px;
  float: right;
}
header .author {
  float: left;
  text-align: left;
  margin: 15px;
  font-size: 10px;
}
header .sub-nav {
  height: 50px;
  background: #fff;
}
header .sub-nav a {
  margin: 15px;
  float: right;
  color: #000;
}
header .logo {
  float: left;
}
header .main-nav img,
header .sub-nav img {
  height: 24px;
}
.container {
  padding-top: 58px;
}
.container .cover {
  background-color: #fff;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.container .cover img {
  max-height: 110px;
}
.container .cover h1 {
  font-weight: 200;
  padding-top: 50px;
}
.container .cover .description {
  max-width: 400px;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .cover .subscribe-btn {
  color: #fff;
  background: #1473e6;
  padding: 7px 15px;
  border-radius: 17px;
  margin: 20px;
}
.container .sidenav {
  float: left;
  text-align: right;
  margin: 0;
  position: absolute;
  z-index: 1000;
  color: #808080;
}
.container .sidenav li {
  list-style-type: none;
}
.container .sidenav .active {
  color: #000;
  border-left: medium solid #000;
}
.content {
  width: 700px;
  margin: 0 auto;
}
.content ul {
  display: flex;
  flex-wrap: wrap;
}
.content ul li {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  height: 100px;
}
.content .overflow {
  text-align: left;
  margin-top: -20px;
}
.content .overflow .view-more a {
  color: #00f;
  font-size: 14px;
  font-weight: bold;
}
.content .overflow-content {
  display: none;
}
.content h4 {
  text-align: left;
  font-weight: 400;
  color: #808080;
  margin-top: 20px;
}
.content .colors ul li {
  background: #800080;
  width: 85px;
  height: 85px;
}
.content .themes ul li {
  width: 190px;
  height: 190px;
  background-image: url("../images/color-theme.png");
}
.content .character-styles ul li {
  width: 190px;
  height: 190px;
  background-image: url("../images/char-style.png");
}
.content .character-styles li:nth-child(3n + 3) {
  margin-right: 0px;
}
.content .layer-styles ul li {
  width: 190px;
  height: 190px;
  background-color: #40e0d0;
}
.content .brushes ul li {
  height: 60px;
  width: 190px;
  background-color: #00fa9a;
}
.content .patterns ul li {
  width: 190px;
  height: 168px;
  background-color: #ffdead;
}
.content .video ul li {
  width: 190px;
  height: 95px;
  background-color: #00f;
}
.content .video li:nth-child(3n + 3) {
  margin-right: 0px;
}
.content .threed ul li {
  width: 190px;
  height: 126px;
  background-color: #000;
}
.content .looks ul li {
  width: 190px;
  height: 127px;
  background-color: #000;
}
.content .content-masonry .grid-item {
  width: 190px;
}
.howitworks {
  background-color: #424242;
  width: 100vw;
  padding: 40px 0px;
}
