@import "fonts.css"

body
  background #F5F5F5
  margin 0 auto
  font-family 'Adobe Clean', sans-serif
  font-weight 200

a
  text-decoration none

ul
  -webkit-padding-start 0px

header
  width 100vw
  background white
  position fixed
  z-index 1000
  .main-nav
    height 50px
    width 100vw
    background black
    color white
  .user
    margin 15px
    float right
  .author
    float left
    text-align left
    margin 15px
    font-size 10px
  .sub-nav
    height 50px
    background white
    margin 0
    .sub-nav-hide
      display none
    .reveal
      display block
    a
      margin 15px
      float right
      color black
      .subscribe-btn
        color white
        background #1473E6
        padding 7px 15px
        border-radius 17px
        margin 20px
      img
        position absolute
        left 25px

  .logo
    float left

header .main-nav img, header .sub-nav img
  height 24px

.container
  padding-top 58px
  .cover
    text-align center
    background-color white
    padding-bottom 50px
    margin-bottom 50px
    img
      max-height 110px
    h1
      font-weight 200
      padding-top 50px
    .description
      max-width 400px
      font-weight 200
      margin 0 auto
      margin-top 20px
      margin-bottom 20px
    .subscribe-btn
      color white
      background #1473E6
      padding 7px 15px
      border-radius 17px
      margin 20px
  .sidenav
    width 15vw
    text-align right
    margin 0
    margin-right 5vw
    position absolute
    z-index 1000
    color gray
    li
      list-style-type none
      text-transform uppercase
      font-size 13px
      margin-bottom 10px
      a
        padding-right 15px
        color #404040
    .active
      color black
      border-right medium solid #000000
      transition all 150ms ease-in-out

.content
  width 65vw
  margin 0 auto
  margin-left 20vw
  ul
    display flex
    flex-wrap wrap
    margin-bottom 0px
    li
      margin-right 20px
      margin-bottom 20px
      padding 0
      list-style none

  .overflow-content
    display none
  h4
    text-align left
    font-weight 400
    color #404040
    margin-top 50px
    text-transform uppercase
  .colors
    ul
      li
        width 85px
        height 85px
        &:hover
          background-image url('../images/hover-color.png')

    .more
      display none
      margin-top: -15px
    a.showLink, a.hideLink
      color #404040
      font-weight 400
      margin-top -20px
      font-size 14px

  .themes
    ul
      li
        width 190px
        height 85px
        background-image url('../images/color-theme.png')
        &:hover
          background-image url('../images/hover-theme.png')

  .character-styles
    ul
      li
        width 190px
        height 190px
        background-image url('../images/char-style.png')
  .layer-styles
    ul
      li
        width 190px
        height 190px
        background-image url('../images/layer-style.png')
  .brushes
    ul
      li
        img
          width 190px
  .patterns
    ul
      li
        width 190px
        height 60px
  .content-masonry
    .grid-item
      width 190px
      margin-bottom 20px
      z-index -1
  .video
    ul
      li
        width 190px
        height 95px
        background-image url('../images/video.jpeg')
  .threed
    ul
      li
        img
          width 190px
  .looks
    ul
      li
        img
          width 190px

.howitworks
  background-color #424242
  width 100vw
  padding 40px 0px
  margin-top 100px
