body {
  background: #F5F5F5;
  text-align: center;
  margin: 0 auto;
  font-family: 'Adobe Clean', sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0px;
}

header {
  width: 100vw;
  background: white;
  position: fixed;
}

header .main-nav {
  height: 50px;
  width: 100vw;
  background: black;
  color: white;
}

header .user {
  margin: 15px;
}

header .author {
  float: left;
  text-align: left;
  margin: 15px;
  font-size: 10px;
}

header .sub-nav {
  height: 50px;
  background: white;
}

header .sub-nav a {
  margin: 15px;
  float: right;
  color: black;
}

header .main-nav img, header .sub-nav img {
  height: 24px;
}

header .logo {
  float: left;
}

header .user {
  float: right;
}

.container {
  padding-top: 58px;
}

.container .cover {
  background-color: white;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.container .cover img {
  max-height: 110px;
}

.container .cover h1 {
  font-weight: 200;
  padding-top: 50px;
}

.container .cover .description {
  max-width: 400px;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .cover .subscribe-btn {
  color: white;
  background: #1473E6;
  padding: 7px 15px;
  border-radius: 17px;
  margin: 20px;
}

.container .sidenav {
  float: left;
  text-align: right;
  margin: 0;
  position: absolute;
  z-index: 1000;
}

.container .sidenav li a {
  color: purple;
}

.content {
  width: 700px;
  margin: 0 auto;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
}

.content ul li {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  /*justify-content: space-between;*/
  height: 100px;
}

.content h4 {
  text-align: left;
  font-weight: 400;
  color: gray;
  margin-top: 0;
}

.content .colors ul li {
  background: purple;
  width: 100px;
}

.content .colors li:nth-child(6n+6) {
  margin-right: 0px;
}

.content .themes ul li {
  width: 220px;
  background-color: tomato;
}

.content .themes li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .character-styles ul li {
  width: 200px;
  height: 32px;
  background-color: papayawhip;
}

.content .character-styles li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .layer-styles ul li {
  width: 168px;
  height: 168px;
  background-color: turquoise;
}

.content .layer-styles li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .brushes ul li {
  height: 53px;
  width: 168px;
  background-color: mediumspringgreen;
}

.content .brushes li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .patterns ul li {
  width: 168px;
  height: 168px;
  background-color: navajowhite;
}

.content .patterns li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .video ul li {
  width: 168px;
  height: 95px;
  background-color: blue;
}

.content .video li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .threed ul li {
  width: 168px;
  height: 126px;
  background-color: black;
}

.content .threed li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .looks ul li {
  width: 168px;
  height: 127px;
  background-color: black;
}

.content .looks li:nth-child(3n+3) {
  margin-right: 0px;
}

.content .content-masonry {
  width: 700px;
}

.content .content-masonry #masonry-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vw;
}

.content .content-masonry img {
  width: 25%;
}

.howitworks {
  background-color: #424242;
  width: 100vw;
  padding: 40px 0px;
}
