btncolor = #1473E6

header
  width 100vw
  background white

  .main-nav
    height 50px
    width 100vw
    background black
    color white
  .user
    margin 15px
  .author
    float left
    text-align left
    margin 15px
    font-size 10px
  .sub-nav
    height 50px
    background white
    a
      margin 15px
      float right
      color black

  .main-nav, .sub-nav
    img
      height 24px

  .cover
    img
      max-height 110px
    h1
      font-weight 200
      padding-top 50px
    .description
      max-width 400px
      font-weight 200
      margin 0 auto
      margin-top 20px
      margin-bottom 20px
    .subscribe-btn
      color white
      background btncolor
      padding 7px 15px
      border-radius 17px
      margin 20px


  p
    color green
  .logo
    float left
  .user
    float right
