header
  height 100px
  width 100vw
  background black

  .main-nav
    height 50px
    width 100vw
    color white
  .sub-nav
    height 50px
    background white

  p
    color green
  #logo
    float left
  #user
    float right
  img
    max-height 24px

#description
  max-width 40vw
  text-align center
