header
  height 300px
  width 100vw
  background white

  .main-nav
    height 50px
    width 100vw
    background black
    color white
  .sub-nav
    height 50px
    background white

  p
    color green
  .logo
    float left
  .user
    float right
  img
    max-height 24px
