@import "includes/paragraphs"
@import "includes/header"

bgcolor = #F5F5F5

body
  background bgcolor
  text-align center
  margin 0 auto
  font-family 'Adobe Clean', sans-serif

ul
  -webkit-padding-start 0px

.content
  width 700px
  margin 0 auto
  ul
    display flex
    flex-wrap wrap
    li
      margin-right 20px
      margin-bottom 20px
      padding 0
      list-style none
      flex-grow 1
      justify-content space-between
      height 100px
  h4
    text-align left
    font-weight 400
    color gray

.colors
  height 400px
  ul li
    background purple
    width 100px
  li:nth-child(6n+6)
    margin-right 0px

.themes
  height 400px
  ul li
    width 220px
    background-color tomato
  li:nth-child(3n+3)
    margin-right 0px

.character-styles
  height 500px
  ul li
    width 220px
    height 220px
    background-color papayawhip
  li:nth-child(3n+3)
    margin-right 0px

.layer-styles
  height 500px
  ul li
    width 220px
    height 220px
    background-color turquoise
  li:nth-child(3n+3)
    margin-right 0px

.brushes
  height 350px
  ul li
    height 80px
    width 220px
    background-color mediumspringgreen
  li:nth-child(3n+3)
    margin-right 0px

.patterns
  height 500px
  ul li
    width 220px
    height 220px
    background-color navajowhite
  li:nth-child(3n+3)
    margin-right 0px

.graphics
  ul li
    width 220px
    height auto

  li:nth-child(3n+3)
    margin-right 0px

.masonry
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  img
    width 100%

.video
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px

.threed
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px

.looks
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px
