@import "includes/paragraphs"
@import "includes/header"
@import "includes/container"

bgcolor = #F5F5F5

body
  background bgcolor
  text-align center
  margin 0 auto
  font-family 'Adobe Clean', sans-serif
  font-weight 200

  a
    text-decoration none

ul
  -webkit-padding-start 0px

.content
  width 700px
  margin 0 auto
  ul
    display flex
    flex-wrap wrap
    li
      margin-right 20px
      margin-bottom 20px
      padding 0
      list-style none
      flex-grow 1
      justify-content space-between
      height 100px
  h4
    text-align left
    font-weight 400
    color gray

.colors
  height 400px
  ul li
    background purple
    width 100px
  li:nth-child(6n+6)
    margin-right 0px

.themes
  height 400px
  ul li
    width 220px
    background-color tomato
  li:nth-child(3n+3)
    margin-right 0px

.character-styles
  height 500px
  ul li
    width 220px
    height 220px
    background-color papayawhip
  li:nth-child(3n+3)
    margin-right 0px

.layer-styles
  height 500px
  ul li
    width 220px
    height 220px
    background-color turquoise
  li:nth-child(3n+3)
    margin-right 0px

.brushes
  height 350px
  ul li
    height 80px
    width 220px
    background-color mediumspringgreen
  li:nth-child(3n+3)
    margin-right 0px

.patterns
  height 500px
  ul li
    width 220px
    height 220px
    background-color navajowhite
  li:nth-child(3n+3)
    margin-right 0px

.content-masonry
  width 700px
  #masonry-box
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -webkit-flex-direction column
    -ms-flex-direction column
    flex-direction column
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
    height 100vw

    img
      width 25%

.video
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px

.threed
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px

.looks
  height 300px
  ul li
    width 220px
    background-color black
  li:nth-child(3n+3)
    margin-right 0px
